<form id="noteForm" action="/postnote/{{this.id}}" method="POST">
    <h2 for="message-text" class="col-form-label">Add a note:</h2>
    <input required type="text" id="message-text" name="messagedata">
    <input id="cardBtn" style="margin-top:2.5%" class="btn btn-danger" type="submit" value="Post">
</form>