<div class="jumbotron">
  <h1 style="  text-shadow: 5px 5px 10px black; font-family: 'Montserrat Subrayada', sans-serif;" class="display-4">New
    York Times News Scraper</h1>
  <hr class="my-4">

  <div class="btn-group">
    <button id="optionsBtn" type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown"
      aria-haspopup="true" aria-expanded="false">
      ---
    </button>
    <div class="dropdown-menu">
      <a id="navBtn" class="dropdown-item" href="/" role="button">Home</a>
      <a id="navBtn" class="dropdown-item" href="/saved" role="button">Article saved</a>
      <a id="navBtn" class="dropdown-item" href="/notearchive" role="button">Archive</a>
      <a id="navBtn" class="dropdown-item" href="/scrape" role="button">New Scraped Articles</a>
      <a id="navBtn" class="dropdown-item" href="/clear" role="button">Clear Articles</a>
    </div>
  </div>
</div>